body {
    margin: 0px;
}
h1 {color: brown;}
    .buttonone{
        color: blueviolet;
        width: 66px;
        height: 26px;
    }
     #one {color: yellow;}
     [type="text"] {
    cursor: help;
     }
     .element {
        display: flex;
        width: 357px;
        height: 356px;}
        .element_text {
        background-color: aqua;
}
.element_text:first-child {
    width: 150px;
    height: 200px;
    background-color: aquamarine;
    color: darkgoldenrod;
    font-family:sans-serif;
    font-size: medium;
    font-weight: 500;
    text-decoration: underline;
}
.element_text h2::after {
    content:'"';
    color: brown;
}
.element_text h2::before {
    content: '"';
    color: chartreuse;
}
.element_text:first-child:hover {
    background-color: darkcyan;
}
.buttonback:hover
{
    background-color: blueviolet;
    top: 100px;
    position: relative;
}